# Configuration for MC TileCache

# TileCache can load Layers or Caches from anywhere in sys.path. If you 
# prefer to load from somewhere which is *not* on sys.path, you can use
# the path configuration paramter to set a comma-seperated list of 
# filesystem paths which you want prepended to sys.path.
#[tilecache_options]
#path=/home/you

# Some TileCache options are controlled by metadata. One example is the
# crossdomain_sites option, which allows you to add sites which are then
# included in a crossdomain.xml file served from the root of the TileCache
#[metadata]
#crossdomain_sites=openstreetmap.org,openaerialmap.org

# [cache] section examples: (mandatory!)
# 
# Disk:
# [cache] 
# type=Disk   (works out of the box)
# base=<full path to cache directory>
# 
# Memcached:
# [cache]
# type=Memcached  (you'll need memcache.py and memcached running!)
# servers=192.168.1.1:11211
#
# Amazon S3:
# [cache]
# type=AWSS3
# access_key=your_access_key
# secret_access_key=your_secret_access_key

[cache]
type=Disk
base=/usr2/data/xeniaprod/tmp/mapserver_tmp/tilecache

# [layername] -- all other sections are named layers
#
# type={MapServerLayer,WMSLayer} 
#   *** if you want to use MapServerLayer, you *must* have Python mapscript
#       installed and available ***
# 
# mapfile=<full path to map file>   
# url=<full URL of WMS>             
# layers=<layer>[,<layer2>,<layer3>,...] 
#                                   *** optional iff layername if what
#                                       your data source calls the layer **
# extension={png,jpeg,gif}          *** defaults to "png"               ***
# size=256,256                      *** defaults to 256x256             ***
# bbox=-180.0,-90.0,180.0,90.0      *** defaults to world in lon/lat    ***
# srs=EPSG:4326                     *** defaults to EPSG:4326           ***
# levels=20                         *** defaults to 20 zoom levels      ***
# resolutions=0.1,0.05,0.025,...    *** defaults to global profile      ***
# metaTile=true                     *** metatiling off by default
#                                       requires python-imaging         ***
# metaSize=5,5                      *** size of metatile in tiles
#                                       defaults to 5 x 5               ***
# metaBuffer=10                     *** size of metatile buffer in px   ***
# mime_type=image/png  *** by default, the mime type is image/extension ***   
#                      *** but you may want to set extension=png8 for   ***
#                      *** GeoServer WMS, and this lets you set the     ***
#                      *** mime_type seperately.                        ***

# The following is a demonstration of a layer which would be generated
# according to the 'Google projection'. This uses the standard values for
# a spherical mercator projection for maxextent, maxresolution, units 
# and srs.
# [google-tiles]
# type=WMS
# url=http://localhost/cgi-bin/mapserv?map=/mapdata/world.map
# layers=world
# spherical_mercator=true

# Standard MapServer layer configuration.
# [vmap0]
# type=MapServer
# layers=vmap0
# mapfile=/var/www/vmap0.map

# Rendering OpenStreetMap data with Mapnik
# [osm]
# type=Mapnik
# mapfile=/home/user/osm-mapnik/osm.xml
# spherical_mercator=true
# tms_type=google

################################################################################################################################################
#Real time map.
################################################################################################################################################

[WMSbasemap]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?MAP=/home/xeniaprod/rcoos/mapserver/RCOOS.map
layers=us_filled,counties,states_outline
levels=4
maxResolution=0.012699
size=512,512
bbox=-82,31,-74,37
extension=png

[basemap]
type=MapServerLayer
mapfile=/home/xeniaprod/rcoos/mapserver/RCOOS.map
layers=us_filled,counties,states_outline
levels=4
maxResolution=0.012699
size=512,512
bbox=-82,31,-74,37
srs=EPSG:4326
extension=png

[WMShtmlobs]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?MAP=/home/xeniaprod/rcoos/mapserver/RCOOS.map&transparent=TRUE
layers=HTMLObsTable
levels=4
maxResolution=0.012699
size=512,512
bbox=-82,31,-74,37
srs=EPSG:4326
extension=png
LayerRefreshInterval=24
LayerRefreshTimePeriod=hour

[WMSNasaMosaic]
type=WMSLayer
url=http://wms.jpl.nasa.gov/wms.cgi
layers=modis,global_mosaic
size=512,512
bbox=-82,31,-74,37
extension=png
levels=4
maxResolution=0.012699

[NOAACHART11009]
type=MapServerLayer
mapfile=/home/xeniaprod/rcoos/mapserver/RCOOS.map
layers=HatterasToFL
levels=4
maxResolution=0.012699
size=512,512
bbox=-82,31,-74,37
srs=EPSG:4326
extension=png

[WMSBathymetry]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?MAP=/home/xeniaprod/rcoos/mapserver/RCOOS.map&transparent=true
layers=Bathymetry
levels=4
maxResolution=0.012699
size=512,512
bbox=-82,31,-74,37
srs=EPSG:4326
extension=png

[OISST]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?MAP=/home/xeniaprod/rcoos/mapserver/RCOOS.map&transparent=TRUE
layers=oi_sst
levels=4
maxResolution=0.012699
size=512,512
bbox=-82,31,-74,37
srs=EPSG:4326
extension=png


################################################################################################################################################
#ie6 layers. Used to get around the png transparency issue.
################################################################################################################################################

[WMSBathymetryie6]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?MAP=/home/xeniaprod/rcoos/mapserver/RCOOS.map&transparent=true
layers=Bathymetry
levels=4
maxResolution=0.012699
size=512,512
bbox=-82,31,-74,37
srs=EPSG:4326
extension=png1  

[WMShtmlobsie6]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?MAP=/home/xeniaprod/rcoos/mapserver/RCOOS.map&transparent=TRUE
layers=HTMLObsTable
levels=4
maxResolution=0.012699
size=512,512
bbox=-82,31,-74,37
srs=EPSG:4326
extension=png1
LayerRefreshInterval=24
LayerRefreshTimePeriod=hour



[WMShtmlobsGoog]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?MAP=/home/xeniaprod/rcoos/mapserver/RCOOS.map&transparent=TRUE
layers=HTMLObsTable
levels=4
maxResolution=34731.681122666668
size=512,512
bbox=-9128198.243777778, 3632749.1428787443, -8237642.317555556, 4439106.786632658
srs=EPSG:900913
extension=png
LayerRefreshInterval=24
LayerRefreshTimePeriod=hour

################################################################################################################################################
#Archive map
################################################################################################################################################
[WMSArchives]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?MAP=/home/xeniaprod/rcoos/mapserver/RCOOSArchive.map&transparent=true
layers=CORMPArchives
levels=4
maxResolution=0.012699
size=512,512
bbox=-82,31,-74,37
srs=EPSG:4326
extension=png

[WMSArchivesie6]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?MAP=/home/xeniaprod/rcoos/mapserver/RCOOSArchive.map&transparent=true
layers=CORMPArchives
levels=4
maxResolution=0.012699
size=512,512
bbox=-82,31,-74,37
srs=EPSG:4326
extension=png1

################################################################################################################################################
#HF Radar
################################################################################################################################################
[SCGAHFRADAR]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?PROJECTION=EPSG:4326&MAP=/home/xeniaprod/rcoos/mapserver/hfradar_legend.map
layers=us_filled,counties,hfradar,hfradar_lgnd
levels=1
size=512,512
bbox=-82,29,-75,36
srs=EPSG:4326
extension=png
[SCGAHFRADARMODIS]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?PROJECTION=EPSG:4326&MAP=/home/xeniaprod/rcoos/mapserver/hfradar_legend.map
layers=modis,hfradar,hfradar_lgnd
levels=1
size=512,512
bbox=-82,29,-75,36
srs=EPSG:4326
extension=png

[FLHFRADAR]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?PROJECTION=EPSG:4326&MAP=/home/xeniaprod/rcoos/mapserver/hfradar_legend.map
layers=us_filled,counties,hfradar,hfradar_lgnd
levels=1
size=512,512
bbox=-84.89,24,-78.38,29.76
srs=EPSG:4326
extension=png


################################################################################################################################################
#RCOOS rev 2 layers
################################################################################################################################################

[basemapRev2]
type=MapServerLayer
mapfile=/home/xeniaprod/rcoos/mapserver/RCOOSRev2.map
layers=us_filled,counties,states_outline
levels=4
maxResolution=156543.0339
#levels=5
#maxResolution=0.026587890625
size=512,512
bbox=-10074413.915389,2814454.731918,-6734829.1920556,4467020.9930062
srs=EPSG:4326
extension=png
extent_type=loose

[WMShtmlobsRev2]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?MAP=/home/xeniaprod/rcoos/mapserver/RCOOSRev2.map&transparent=TRUE
layers=HTMLObsTable
levels=20
maxResolution=156543.0339
#levels=5
#maxResolution=0.026587890625
size=512,512
bbox=-10074413.915389,2814454.731918,-6734829.1920556,4467020.9930062
srs=EPSG:900913
extension=png
LayerRefreshInterval=24
LayerRefreshTimePeriod=hour
extent_type=loose

[NOAACHART11009Rev2]
type=MapServerLayer
mapfile=/home/xeniaprod/rcoos/mapserver/RCOOSRev2.map
layers=HatterasToFL,us_filled,counties,states_outline
#layers=HatterasToFL,us_filled,counties,states_outline
levels=20
maxResolution=156543.0339
size=512,512
bbox=-10074413.915389,2814454.731918,-6734829.1920556,4467020.9930062
srs=EPSG:900913
extension=png
extent_type=loose

[WMSBathymetryRev2]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?MAP=/home/xeniaprod/rcoos/mapserver/RCOOSRev2.map&transparent=true
layers=Bathymetry
levels=20
maxResolution=156543.0339
size=512,512
bbox=-10074413.915389,2814454.731918,-6734829.1920556,4467020.9930062
srs=EPSG:900913
extension=png
extent_type=loose

[Bathy]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?MAP=/home/xeniaprod/mapping/common/general.map&transparent=true
layers=Bathymetry
levels=20
maxResolution=156543.0339
size=256,256
bbox=-10074413.915389,2814454.731918,-6734829.1920556,4467020.9930062
srs=EPSG:900913
extension=png
extent_type=loose




[NOAACHART11009Rev2Goog]
type=MapServerLayer
mapfile=/home/xeniaprod/rcoos/mapserver/RCOOSRev2.map
layers=HatterasToFL
levels=20
maxResolution=156543.0339
size=512,512
bbox=-10074413.915389,2814454.731918,-6734829.1920556,4467020.9930062
srs=EPSG:900913
extension=png
extent_type=loose

############################################# Remote Sensing #########################################################
#Remote sensing layers do not refresh often during the day, however we still need to flush and rebuild the cache.
[oi_sst]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?MAP=/home/xeniaprod/mapping/common/general.map&transparent=TRUE&TIME_OFFSET_HOURS=3
layers=oi_sst
levels=20
maxResolution=156543.0339
size=512,512
bbox=-10074413.915389,2814454.731918,-6734829.1920556,4467020.9930062
srs=EPSG:900913
extension=png
extent_type=loose

[modis_sst]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?MAP=/home/xeniaprod/mapping/common/general.map&transparent=TRUE&TIME_OFFSET_HOURS=2
layers=modis_sst
levels=20
maxResolution=156543.0339
size=512,512
bbox=-10074413.915389,2814454.731918,-6734829.1920556,4467020.9930062
srs=EPSG:900913
extension=png
extent_type=loose

[modis_rgb]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?MAP=/home/xeniaprod/mapping/common/general.map&transparent=TRUE&TIME_OFFSET_HOURS=2
layers=modis_rgb
levels=20
maxResolution=156543.0339
size=512,512
bbox=-10074413.915389,2814454.731918,-6734829.1920556,4467020.9930062
srs=EPSG:900913
extension=png
extent_type=loose

############################################# Remote Sensing #########################################################

############################################# Hourly Observations #########################################################
#These need to be flushed and recached a couple times an hour
[wind_obs_hourly_recent]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?MAP=/home/xeniaprod/mapping/common/general.map&transparent=true&TIME_OFFSET_HOURS=2
layers=wind_obs_hourly_recent
levels=20
maxResolution=156543.0339
size=256,256
bbox=-10074413.915389,2814454.731918,-6734829.1920556,4467020.9930062
srs=EPSG:900913
extension=png
extent_type=loose

[water_level_obs_hourly_recent]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?MAP=/home/xeniaprod/mapping/common/general.map&transparent=true&TIME_OFFSET_HOURS=2
layers=water_level_obs_hourly_recent
levels=20
maxResolution=156543.0339
size=256,256
bbox=-10074413.915389,2814454.731918,-6734829.1920556,4467020.9930062
srs=EPSG:900913
extension=png
extent_type=loose

[sst_obs_hourly_recent]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?MAP=/home/xeniaprod/mapping/common/general.map&transparent=true&TIME_OFFSET_HOURS=2
layers=sst_obs_hourly_recent
levels=20
maxResolution=156543.0339
size=256,256
bbox=-10074413.915389,2814454.731918,-6734829.1920556,4467020.9930062
srs=EPSG:900913
extension=png
extent_type=loose
############################################# Hourly Observations #########################################################


############################################# Models ############################################# 
[sabgom_sst]
type=WMSLayer
url=http://129.252.139.139/cgi-bin/mapserv?MAP=/home/xeniaprod/mapping/common/general.map&transparent=true&TIME_OFFSET_HOURS=2
layers=temp
levels=20
maxResolution=156543.0339
size=256,256
bbox=-10074413.915389,2814454.731918,-6734829.1920556,4467020.9930062
srs=EPSG:900913
extension=png
extent_type=loose

############################################# Models ############################################# 
