<environment>
  <ysiSettingsList>
    <ysiSetting>
      <name>scdnr_apachepier_pier</name>
      <geoLoc>33.76152,-78.779878</geoLoc>
      <platformURL>http://www.ysieconet.com/public/WebUI/Default.aspx?hidCustomerID=131</platformURL>
      <paramScrapeURL>http://www.ysieconet.com/public/WebUI/DashboardDetails.aspx?hidCustomerID=131&amp;hidElementID=225&amp;hidElementType=S&amp;hidNodeID=270</paramScrapeURL>

      <dataQueryURL>http://www.ysieconet.com/public/WebUI/ParameterHistory.aspx?hidCustomerID=%d&amp;hidParameterID=%d&amp;hidNodeID=%d&amp;hidAVIID=%d&amp;hidChanID=%d</dataQueryURL>
      
      <outputs>
        <output>
          <type>kml</type>
          <filename>C:\Documents and Settings\dramage\workspace\SVNSandbox\xenia\postgresql\import_export\ysi\apachepier.kml</filename>
        </output>
      </outputs>
    </ysiSetting>     
  </ysiSettingsList>
  <unitsConversion>
    <file>C:\Documents and Settings\dramage\workspace\QAQC-ControlChart\UnitsConversionPython.xml</file>
  </unitsConversion>  
</environment>
